<!doctype html>
<html>
<head>
    <title>React Example</title>
    <meta name="description" content=""/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:image" content=""/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:site" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:creator" content=""/>

    <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
    <link rel="shortcut icon" href="../assets/img/icons/favicon.ico">

    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="../assets/img/icons/apple-touch-icon.png">

    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
    <link rel="icon" href="../assets/img/icons/apple-touch-icon.png">

</head>
<body>
${require('_partials/header.ejs')}
<h2>React Test - Sub Folder</h2>
<div id="react-root">
    <!--React App Goes Here -->
</div>
</body>

</html>