
    <div class="image-test">
        <h3>&lt;img src=''&gt; from partial:</h3>
        <img src="../assets/img/test/burst.png" />
    </div>
    <div class="image-test">
        <h3>css background: url('') from partial:</h3>
        <div class="background-lg"></div>
    </div>
    <div class="image-test">
        <h3>&lt;img src='data:image'&gt; from partial:</h3>
        <img src="../assets/img/test/gyro_logo.svg" class="bg-black">
    </div>
